# Process Mapping Documentation Project

# The following Committees maps are stored here:
OSC TSC MCC CIR CIVICS PARAMETERS BUDGET ESC

# These owners will be the default owners for everything in the repository.
*  @ranchhand87 @silona